//
//  Debug.xcconfig
//  ConfigDemo
//
//  Created by Artem on 9/14/15.
//  Copyright (c) 2015 Artem. All rights reserved.
//

#include "Pods/Target Support Files/Pods-ConfigDemo/Pods-ConfigDemo.debug.xcconfig"

ONLY_ACTIVE_ARCH = YES

APP_FACEBOOK_ID = 123456

CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

